.container {
  display: flex;
  justify-content: center;
}

.video {
  width: 100%;
  aspect-ratio: 16 / 9;
  background: #000;
  border-radius: var(--border-radius);
}

.loading {
  width: 100%;
  aspect-ratio: 16 / 9;
  border-radius: var(--border-radius);
  animation: loading-shift 1.2s ease-in-out infinite;
}

@keyframes loading-shift {
  0% {
    background-color: var(--color-gray-3);
  }

  50% {
    background-color: #000;
  }

  100% {
    background-color: var(--color-gray-3);
  }
}

.btnContainer {
  display: flex;
  justify-content: flex-end;
  gap: var(--space-s);
  width: 100%;
}

.btnContainer button {
  width: auto;
  padding: var(--space-s) var(--space-l);
}